body {
    font-family: Bookman Old Style, Batang, Candara, Arial, sans-serif;
}

p {
    color:#400000;
}

h1, h2 {
    /* border: 5px solid red; */
    color: #400000;
    font-size: 1em;
    width: calc(100% - 130px);
}

header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

button {
    background-color: #bc0513;
    margin-left: : 50px;
    color: white;
    height: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #a2767a;
}

.main_foto {
    float: right;
    width: 30%;
    margin-right: 20px;
    margin-bottom: 20px;
}

#menu {
    display: none;
}

#hamburger {
    font-size: 20px;
    color: #400000;
    border: 1px solid #400000;
    width: 20px;
    padding: 5px;
    margin-left: 30px;
    cursor: pointer;
}

#sitenav{
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #400000;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sitenav a {
    display: block;
    padding: 8px 8px 8px 32px;
    font-size: 1em;
    cursor: pointer;
}

#sitenav a:hover {
    color: #734444;
}

#s_inside_menu {
    display: none;
}

#inside_menu {
    display: none;
    position: absolute;
    margin-left: 280px;
    margin-top: 25px;
}

.closebtn {
    float: right;
    margin-right: 10px;
    margin-top: -30px;
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
}

/* .stokrotki {
    display: none;
} */

.main {
    width: 100%;
}

#tresc {
    font-size: 0.9em;
    /* display: flex;
    flex-wrap: wrap; */
    margin-top: 20px;
    margin-left: 20px;
}

#tresc1 {
    font-size: 0.9em;
    /* display: flex;
    flex-wrap: wrap; */
    margin-top: 20px;
    margin-left: 20px;
}

.pok_content {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 60px;
  margin-right: 60px; */
}

.pok_desc {
  width: 210px;
  height: 137px;
  /* background-color: #a7a7a7; */
  background-image: url(zdjecia/camera.jpg);
  background-size: 100%;
    color: white;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 45px;
    position: relative;
    cursor: pointer;
    border: 1px solid black;
  /* display: none; */
}

.pok_desc h3{
  margin-top: 10px;
}

.pok_foto {
  /* that might be absolute because -desc is relative */
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  transition: width 4s, height 4s, transform 4s;
}

.pok_foto:hover{
  opacity: 0;
  transform: rotate(45deg);
}

 .pok_foto:focus {
   opacity: 0;
  /* transition: transform 2s; */
 }

img {
padding: 20px;
}

.mapa_pietra {
    width: 90%;
    max-width: 640px;
}

.more {
    width: 90%;
    max-width: 525px;
}

/* #red_tekst {
    width: 70%;
} */

#polecane {
    min-width: 150px;
    max-width: 200px;
    width: 30%;
    border: solid 1px #4f672e;
    padding: 10px;
    margin-top: 20px;
    /* height: 90px; */
}

#polecane a {
color: #400000;
}

#polecane ul li{
    margin-left: -20px;
}

.giewont {
    width: 100%;
    max-width: 315px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#fb {
    width: 100%;
    margin-top: 20px;
}

#partnerzy {
    display: flex;
    flex-wrap: wrap;
}

.partner {
    margin: 10px;
}

.partner img{
    padding: 0;
}

#stopka {
    /* border: 1px solid red; */
}

#gaudi1 {
    display: none;
}

#stopka1 {
    margin-left: 20px;
    /* border: 1px solid red; */
}

.stopka_adres {
    display: none;
}

.stopka_web {
    font-size: 0.7em;
    color: #400000;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
    text-shadow: 3px 3px #c4baba;
    float: right;
}

.stopka_foto {
    float: left;
}

.big {
    display: none;
}

.small {
    display: block;
}
